.containerImg{
    background-image: url('../../FoodApp/src/assets/imgs/authBg.png');
    background-size: cover;
}
.bg-overlay{
    background: linear-gradient(51.22deg, rgba(47, 140, 96, 0.63) -22.39%, rgba(0, 0, 0, 0.6237) 61.76%);

    
}
.reg{
    color: #3A3A3D;
text-decoration: none;

}
.forgot{
    color: #4AA35A;
    text-decoration: none;
}
.forgot:hover{
    color: #3A3A3D;
}
.reg:hover{
    color: #4AA35A;
}






.sidebarcontainer .ps-sidebar-container{
    height: 100vh;
    background-color: #1F263E;
}

.sidebarcontainer .css-1t8x7v1:hover{
    
    background: rgba(0, 146, 71, 0.3) !important;
}
.sidebarcontainer .ps-menu-label, .ps-menu-icon{
    color: white;
}
.sidebarcontainer .firstchild:hover{
background-color: transparent !important;
}

.sidebarcontainer .css-1t8x7v1 >.ps-menu-button:hover{
    background-color: transparent !important;
}
.active {
    background-color: #4AA35A;
}
/* .navbarcontainer img, span, a, .nav-link{
    display: inline !important;
} */



.not-found-bg{
    height: 100vh;
    background-image: url('../src/assets/imgs/Group48101676.png');
    background-repeat: no-repeat;
    background-position: right;
}
.not-found-vector-bg{
    background-image: url('../src//assets//imgs/Vector.png');
    background-repeat: no-repeat;
    background-position: right;
}
@media (max-width: 768px) {
    .not-found-bg
    {
        background-image: none;
    }
  }



.headercontainer{
   margin-top: 2rem;
    width: 95%;
    color: white;
}
.headerbg{
    background-image: url('./assets//imgs/header-bg.svg');
    background-color: rgba(0, 146, 71, 1);
    border-radius: 20px;
  
}